@import "plugins";


button {
    background: $azul;
    color: $branco;
    border: 0;
    padding: 0.5rem;
}


// Container
.container {
    display:grid;
    width:90%;
    margin:0 auto;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

section {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    .card {
        padding: 10px;
    }

    h1, p {
        margin-bottom: 10px;
    }
}

header,
footer {
    padding:15px;
    background:$cinza;
    height:auto;
}
