@import "plugins";

// Container

.container {
    display: grid;
    width: 1024px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

header,
footer {
    grid-column: 1 / 4;
    padding: 10px;
    background:$cinza;
}


footer {
    height: auto;
}