@import "plugins";
@import "menu-top";

.btn {
    background: $azul;
    color: $branco;
    border: 0;
    padding: 0.5rem;
    text-decoration: none;
    font-size: .7em;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-weight: 700;

    &:hover {
        background: $verde;
    }
}

// Container
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-1 {
        display: flex;
    }

    .item-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;

                a{
                    color: $cinza;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: .7em;
                    font-family: Helvetica, Arial, Verdana, sans-serif;
                    font-weight: 700;
                    padding: 8px;

                    &:hover {
                        color: $branco;
                        background: $azul;
                    }
                }

                

            }
        }
        .facebook, .linkedin {
            color: $azul;
            
            &:first-child {
                margin-left: 20px;
            }
            &:hover{
                color: $azul / 2;
            }
        }
    }
}


footer {
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr;
    padding: 10px;
    height: auto;
}